.line{
    width: 40%;
    height: 2px;
    background: white;
    margin: 3px;
}

.big{
    width:100;
}
.text-body{
    z-index: 195;
    position: absolute;
    top: 60%;
    margin: 0 auto;
    width: 100%;
  
}

.footerclass{
    top: 97% !important;
    z-index: 195;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 70%;
}

h3,h4{
    color: white;
}

.hometown{
   
    overflow: hidden;
}